<body>
    <header>
        <nav>
            <a href='@Url.Action("Index")'><img src="/img/banderaArg.webp" style="width:100px"></a>
            <a href='@Url.Action("Elecciones")'>Elecciones</a>
            <a href='@Url.Action("Creditos")'>Créditos</a>
        </nav>
    </header>
    <article>
    
    
    </article>
</body>