<body>
    <header>
        <nav>
            <a href='@Url.Action("Index")'><img src="/img/banderaArg.webp" style="width:100px"></a>
            <a href='@Url.Action("Elecciones")'>Elecciones</a>
            <a href='@Url.Action("Creditos")'>Créditos</a>
        </nav>
    </header>
    <article style="justify-content: center; text-align:center, align-items:center;">
     <h2>Página desarrollada por Tamara Dratler y Santiago Mateo Butler</h2>
    <h2>Tamara Dratler</h2>
    <img src = "/img/creditos/tami.jpg" alt ="tami" width = "100px"><br>
    <h2>Santiago Buti</h2>
    <img src = "/img/creditos/buti.jpg" alt ="buti" width = "100px"><br>

    <br><br>

    <h2>¿De qué nos ocupamos cada uno?</h2>
    <ol>
        <li>Tamara se encargó mayormente de la parte de desarrollar la página. Sin embargo, cabe aclarar, que su compañero estuvo presente y ayudó durante todo el proceso.</li>
        <li>Buti se encargó mayormente de lo visual bajo la encantadora supervisión de Tamara Dratler</li>
        <li>Ambos desarolladores tubieron un importante rol en ambas partes de la creación del juego</li>
    </ol>

    <br>

    <h2>¿Qué herramientas usamos?</h2>
    <ol>
        <li>Visual Studio Code</li>
        <li>Nuestra imaginación</li>
        <li>El Trabajo en Equipo</li>
        <li>La ayuda del profe</li>
    </ol>
    </article>
</body>