<body>
    <header>
        <nav>
            <a class="otros" href='@Url.Action("Index")'><img src="/img/banderaArg.webp" style="width:70px"></a>
            <a class="otros" href='@Url.Action("Elecciones")'>Elecciones</a>
            <a class="otros" href='@Url.Action("Creditos")'>Créditos</a>
        </nav>
    </header>
    <article>
    <h2>Elecciones 2023, Argentina</h2>
    <p>Las elecciones presidenciales de Argentina de 2023 se llevarán a cabo el domingo 22 de octubre junto con las elecciones legislativas, de acuerdo a lo establecido en la Constitución Nacional y las leyes electorales.

Se aplicarán las reglas electorales de la reforma constitucional de 1994 que estableció el voto directo, la realización de una segunda vuelta si ningún candidato alcanza el 45 % de los votos o más de 10 puntos de diferencia si supera el 40 %. El mandato presidencial es de cuatro años, con la posibilidad de una sola reelección inmediata. Los candidatos de cada fuerza serán elegidos en las elecciones primarias, abiertas, simultáneas y obligatorias (PASO), establecidas por ley en 2009. El derecho a votar incluirá a los menores de dieciséis y diecisiete años, según lo dispuesto por una ley de 2012.

Además de elegir presidente y vicepresidente, se renovarán ciento treinta diputados y veinticuatro senadores. El actual presidente, Alberto Fernández, está habilitado para postularse a un nuevo mandato de 4 años, según el artículo 90 de la Constitución nacional, aunque el 21 de abril de 2023, el presidente declaró oficialmente que no se presentará a la reelección.</p>
    <br>
    <h2>Reglas Electorales</h2>
    <p>Las reglas electorales fundamentales para la elección presidencial fueron establecidas en el texto constitucional definido a partir de la Reforma constitucional de 1994 y, con excepción de la edad mínima, son las mismas reglas usadas en las elecciones de 1995, 1999, 2003, 2007, 2011, 2015 y 2019.</p>
    <ol>
        <li>Sufragio Directo</li>
        <li>Sufragio Obligatorio, aunque para las personas mayores de 70 años y aquellas que tienen entre 16 y 17 años, no existe sanción en caso de que no deseen votar.</li>
        <li>Edad para votar: 16 años o más para argentinos nativos y 18 años o más para argentinos naturalizados</li>
        <li>La fórmula presidencial debe elegirse simultáneamente en la misma boleta.</li>
        <li>Segunda vuelta electoral en caso de que el ganador de la primera vuelta no alcanzara el 45 % de los votos, o que superando el 40 % de los votos tuviera una diferencia menor a 10 puntos porcentuales con el segundo.</li>
        <li>Mandato presidencial de cuatro años, con posibilidad de una sola reelección inmediata.</li>
    </ol>
    <br>
    <h2>Candidatos</h2>
    <p>Unión por la Patria es la coalición política peronista que gobierna Argentina tras su victoria en las elecciones presidenciales de 2019, siendo sucesora del Frente de Todos. El 21 de abril de 2023 el presidente Alberto Fernández anunció de forma oficial que no se va a presentar a la reelección.

El 14 de junio se confirmo que el Frente de Todos cambiaría de nombre para competir en las elecciones generales pasando de denominarse "Frente de Todos" a "Unión por la Patria".

El 23 de junio Unión por la Patria anunció oficialmente a Sergio Massa como su único candidato presidencial, con el fin de evitar internas en las elecciones PASO del próximo 13 de agosto. Massa estará acompañado por Agustín Rossi, quien será su candidato vicepresidencial.

Sin embargo, el 24 de junio Juan Grabois anunció que también se presenta como precandidato junto a la investigadora Paula Abal Medina como su compañera de formula. Para el periodista Fernando Cibeira, la participación de Grabois es «un guiño desde la conducción de la coalición para evitar rupturas y una posible fuga de votos por parte de votantes que son más de izquierda».</p>
<br>
<img src = "/img/estadisticas.PNG" alt ="buti"><br>

    </article>
</body>